<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="/dist/vendors/bootstrap/css/bootstrap.min.css"
    />
    <title>Page introuvable</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>Erreur</h1>
          <p>Je n'ai pas trouvé la page demandée</p>
        </div>
      </div>
    </div>
    <script src="/dist/vendors/jquery/jquery.slim.min.js"></script>
    <script src="/dist/vendors/popper/popper.min.js"></script>
    <script src="/dist/vendors/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
